:root {
  --white-text: rgba(255,255,255,1);
  --white-text-op: rgba(255, 255, 255, 0.6);


  --black-text: rgba(33, 33, 33, 1);
  --black-text-logo: rgba(0, 0, 0, 1);
  --black-background: rgba(47, 48, 58, 1);


  
  --blue-text: rgba(33, 150, 243, 1);


  --grey-text: rgba(117, 117, 117, 1);
  --grey-background: rgba(245, 244, 250, 1);


  --card-set-gap: 30px;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;

}

p {
  color: var(--grey-text); 
  
}

ul {
  list-style: none; 
}

body {
  font-family: Roboto, sans-serif;

}

img {
  display: block;
  max-width: 100%;
}

header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

/* CONTAINER */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* border: solid red; */
}

.nav,
.site-nav,
.auth-nav  {
  display: flex;
}


.nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  

}

.site-nav {
  padding: 0;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
  
}

.auth-nav {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.auth-nav li:not(:last-child) {
  margin-right: 40px;
}

.title {
  color: var(--black-text);
}

/* Site nav */


.nav-a,
.nav-span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

}

.nav-a,
.futer-a {
  color: var(--blue-text);
}

.nav-span {
  color: var(--black-text-logo);
}

.site-nav .link {
  
  color: var(--black-text);

}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--blue-text);
}

.auth-nav .link {
  color: var(--grey-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--blue-text);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),

    url("../images/Imgback.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.hero {
  background-color: var(--black-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 30px;


  color: var(--white-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button {

  padding: 10px 32px;

  margin-bottom: 0px;


  color: var(--white-text);
  background-color: var(--blue-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.filtr-button {
  color: var(--black-text);
  background-color: var(--grey-background); 
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  padding: 6px 22px;
  border: none;

}

.filtr-button:hover,
.filtr-button:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
}

/* Advantages */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  
  justify-content: space-between;
}

.advantages-list .item {
  width: 270px;
  
}

.advantages-list  .item:not(:last-child) {

  margin-right: 30px;

}

.advantages-text {
  margin: 0;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages .advantages-title {
  color: var(--black-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* WORK */

.work {
  padding-bottom: 94px;
}

.title-h,
.work-list {
  display: flex;
}

.work-list {
  justify-content: space-between;
  padding: 0;
  margin-top: 0 ;
  margin-bottom: 0px;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.title-h {

  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--black-text);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background-color: var(--grey-background);
  padding-bottom: 94px;
  padding-top: 94px;
}

.title-team,
.team-list {
  display: flex;
  
}

.container .title-team {
  justify-content: center;

  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 50px;

  
}

.team-list {
  padding-bottom: 0px;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list .item:not(:last-child){
  margin-right: 30px;
}

.team .title-team {
  color: var(--black-text);
  

  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}


.team .team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title,
.team-text {
  text-align: center;
}

/* Cards */

.card-button {
  padding: 94px 0;

}

.button-list,
.card-set {
  display: flex;
}

.card-set {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  margin-left: calc( -1 * var(--card-set-gap));
  margin-top: calc( -1 * var(--card-set-gap));
  
}

.card-tumb {
  width: 370px;
  height: 294px;
}

.card-set .item-card {

  /* outline: 1px solid teal; */

  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1) ;
  border-top: 0;

}

.button-list {
  margin-top: 0px;
  margin-bottom: 50px;
  justify-content: center;
  padding-left: 0;
}

.button-list .item-button:not(:last-child) {
  margin-right: 8px;
  
}


.title-cards {
  color: var(--black-text);

  font-family: Roboto, sans-serif;
  
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

}

h2 .text-cards {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Futer */

.futer-nav {
  padding-top: 60px;
  padding-bottom: 60px;
}


.futer-address {
  display: flex;
}

.futer-logo {
  
  padding-left: 15px;
}

.futer-address {
  margin-top: 20px;
  margin-bottom: 9px;
  padding-left: 15px;
}

.futer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  
}


.futer-span {
  color: var(--white-text); 

}


.futer-nav {
  background-color: var(--black-background);
}

.futer-address {
  color: var(--white-text);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

}

.futer-nav .link {
  color: var(--white-text-op);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.futer-nav .link:hover,
.futer-nav .link:focus {
  color: var(--blue-text);
}

.futer-span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;


}

.futer-nav .futer-a {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  
}
